a{
	color:#222222;
	text-decoration: none;
}

a:visited{
	color:#222222;
	text-decoration: none;
}
body{
	background-color:#222222;;
	font-family: "Segoe UI", Verdana, serif;
	font-size:12pt;
	margin:0;
	padding:0;
}

#header{
	width:100%;
	height:230px;
	background-color:#222222;
	box-shadow:0 0 20px #000000;
	border-bottom:solid #444444 8px;
}
.colonne {
  display:table-cell;
  padding:25px;
}
.colonne:first-child {

}

.colonne:nth-child(2) {
	vertical-align:middle;
	color:#CCCCCC;
	font-size:32px;
	font-weight:bold;
	text-shadow:1px 1px #111111, 2px 2px #000000;
}

#entete{
	width:1050px;
	margin:auto;
	display:table
}

#connect{
	height:30px;
	width:380px;
	padding:10px;
	position:absolute;
	right:30px;
	top:25%;
	background-color:#AAAAAA;
	border-radius:10px;
	border:4px solid #111111;
	box-shadow:0 0 5px #000000 inset;
	color:#222222;
	font-size:18px;
	text-align:center;
}
#connect a{
	color:#222222;
	font-weight:bold;
	text-decoration: none;
}
#connect a :visited{
	color:#222222;
	font-weight:bold;
	text-decoration: none;
}


#corps{
	float:left;
	width: 100%;
	background-color:#EDEDED;
}

#menu{
	float : left;
	width: 20%;
	min-height:355px;
	margin-left: 3px;
	color:#222222;
	font-size:15px;
}
#menu p{
	font-weight:bold;
}
#menu a{
	color:#222222;
	text-decoration: none;
}
#menu a :visited{
	color:#222222;
	text-decoration: none;
}

#menuInt{
	margin-top: 2px;
	margin-left: 50px;
	min-height:367px;
}

#texte{
	float:left ;
	width: 79%;
	margin-left: 5px;
	text-align: center;
	min-height:380px;
	color:#000;
}

#spacer {
  clear: both;
}

#footer{
	width:100%;
	height:50px;
	padding-top:10px;
	background-color:#222222;
	border-top:solid #444444 8px;
	padding-top:20px;
	position:absolute;
	bottom:0px;
	box-shadow:0 -5px 5px #858585;
	position:relative;
	color:#CCCCCC;
	font-size:12px;
	text-align:center;
}

.centreImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 38%
}

label{
	font-size:12pt;
   font-weight:bold;
}

h1{
	text-shadow:1px 1px 2px #333333;
}


* a:hover{

	text-decoration: underline;
}
#menu a:hover{
	text-decoration: underline;
	font-weight: bold;
}

#connect a{
	color:#222222;
	font-weight:bold;
	text-decoration: none;
}
#connect a :visited{}


.clear{
	clear: both
}

input{
	border-radius: 8px;
	text-align: center;
}
form{
	margin-top:15px;
	width: 50%;
	display: inline-block;
	text-align: center;
	margin-right: 20%

}
form div {
	width: 150%;
	text-align: justify;
	margin: 0px auto;

}

form div div {

	float: left;
	width: 50%;

}

form div div label, form div div input{
  display: inline;
	float: left;
	width: 40%;
	margin: 5px;

}
form div div label{
	width: 46%

}

.categorie{
  display: inline;
	margin-top: 15px;
	margin-bottom: 2%;


}

input{
	padding: 3px;
	font-size: 13px;


}

.button{
	background: black;
	border-radius: 8px;
	border-color: gray;
	color: white;
	font-size: 14px;
	padding: 2px 20px;
	margin: 10px 20% 0px 20%
}

table{
	margin: 0 auto;
	margin-top:30px;
	margin-bottom: 100px;
	text-align: center;
	border-collapse: collapse

}
td, th {

  padding: 5px 20px;

}
td{
	border:1px solid black;
	padding: 10px 20px 10px 20px
}
select{
	border-radius: 8px;
	padding: 3px;
	font-size: 13px
}
.connection div div {
	float: left;
	width: 170%
}
#captcha{

	margin: 0px 25% 0px 2%;
	font-size: 50px
}
form div #champ{
	width: 70%;
}

a span{
	display:none;
	color:#fff;
	background:rgba(51,51,51,0.75);
	padding:5px;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	width:100px;
	text-align:center;
	position: absolute;
	z-index:10;
	font-size: 10px
}
a:hover span{
	display:block;
}
